Classroom Info
<p>
<%= @classroom.course_name %>
<%= @classroom.semester %>
</p>

We now want to call out the students in the class:
<%= render partial: "students/student", locals: {classroom_students, @classroom.students} %>
