Classroom Info
<%= render partial: "classrooms/classroom", locals: {student: student} %>
<p>
<%= @classroom.course_name %>
<%= @classroom.semester %>
</p>

We now want to call out the students in the class:
<% @classroom.students.each do |student| %>
  <%= render partial: "students/student", locals: {student: student} %>
<% end %>
